.bounty-container {
    margin: 0;
    height: 400px;
    width: 200px;
    background-color:lightgrey;
    display: flex;
    flex-direction: column;
}

.image-container{
    margin: 0;
}

.reward {
    background-color: grey;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.description{
    justify-content: center;
    color: black;
}